.app__hero{
    padding: 10vh 10vw;
    width: 80vw;
    height: 80vh;
    display: flex;
    gap: 8vh;
    padding-bottom: 0;

    @media screen and (max-width: 420px) {
        flex-direction: column;
        align-items: center;     
        padding: 10vh 10vw;
        width: 80vw;  
    }

    h1{
        font-weight: 800;
        font-size: 6vh;

        @media screen and (max-width: 420px) {
            text-align: center;
            font-size: 5vh;   
        }

        span{
            text-decoration: underline;
            color: var(--primary-color);
        }
    }
    p{
        text-align: left;
        font-size: 3vh;
        @media screen and (max-width: 420px) {
            text-align: center;
            font-size: 5vw;   
        }
    }
}
.app__hero-left{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 6vh;
    align-items: flex-start;

    @media screen and (max-width: 420px) {
        width: 80vw;       
    }

}
.app__hero-right{
    width: 30vw;
    height: 80vh;

    img{
        width: 30vw;
        height: 60vh;
        object-fit: cover;
        border-radius: 4vw 0 0 0;

        @media screen and (max-width: 420px) {
            width: 80vw;   
        }

    }

    @media screen and (max-width: 420px) {
          width: 80vw;
          align-items: center;  
    }
}
.app__hero-btns{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-top: 4vh;
    @media screen and (max-width: 420px) {
        width: 80vw;       
    }

    button{
        padding: 2.5vh 2vw;
        align-items: center;
        border: none;
        width: 12vw;
        background-color: var(--cta-color);
        font-size: 2.2vh;
        color: var(--light-background);
        border-radius: 2vh;

        @media screen and (max-width: 420px) {
            width: 32vw;   
        }
        
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &:hover{
            box-shadow: 2px 2px 14px rgb(159, 159, 159);
        }
    }
}
#infra{
    background: none;
    border: 2px solid var(--secondary-color);
    color: var(--dark-background);
}

