.app__navbar{
    padding: 3vw 10vw;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 420px) {
        margin-top: 4vh;
    }
}
.app__navbar-logo h2{
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 4vh;

}
.app__navbar-menu{
    width: 24vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    @media screen and (max-width: 420px) {
        width: 36vw;
    }
    


    a{
        text-decoration: none;
        color: var(--dark-background);
        border-bottom: 2px solid transparent;
        transition: all ease-in-out 0.2s;
        cursor: pointer;

        @media screen and (max-width: 420px) {
            font-size: 3vw;
        }

        &:hover{
            color: var(--cta-color);
            border-bottom: 2px solid var(--secondary-color);
        }
    }
}