@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

}
::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
    
}

:root{
    --primary-color: #061063;
    --secondary-color: #bf1313;
    --cta-color: #bf0a0a;
    --light-background: #FBFEF9;
    --dark-background: #191923;
}